{% extends 'base.html' %}

<!-- local stylesheet -->
{% block stylesheet %}
<link rel="stylesheet" href="css/contact.css" />
{% endblock stylesheet %}


{% block heading %} this is contact page! {% endblock heading %}

{% block body %}

<form class="form" action="/contact" method="get" accept-charset="utf-8">
    <input type="text" name="name" id="username" placeholder="username" />
    <input type="email" name="email" id="email" placeholder="email" />
    <!-- submit button -->
    <button type="submit" class="btn btn-primary" >submit</button>
</form>

{% endblock body %}